/DimCustomers.csv
/DimDate.csv
/DimProduct.csv
/DimProductSubcategory.csv
/DimSalesTerritory.csv
/FactInternetSale.csv
/ProductCategory.csv
/Project Title- Sales and Customer Analysis for Adventure Works .pdf
/temp-data.xlsx